name: Build and deploy docs

on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
    - name: Install ford and ghp-import
      run: |
        pip install ford ghp-import
    - name: Install graphviz
      run: sudo apt install graphviz
    - name: Build API docs with FORD
      run: |
        mkdir -p $FORD_OUTPUT_DIR
        ford $FORD_CFG -o $FORD_OUTPUT_DIR
      env:
        FORD_CFG: docs/ford.md
        FORD_OUTPUT_DIR: api-docs

    - name: Deploy API docs to GitHub Pages
      run: |
        git config user.name 'github-action'
        git config user.email 'github-action'
        ghp-import -m 'Update API docs' \
          --push --branch gh-pages $FORD_OUTPUT_DIR --no-jekyll --force
      env:
        FORD_OUTPUT_DIR: docs/api-docs